.mainWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.page {
    max-width: 1248px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrap {
    width: 100%;
    display: flex;
    gap: 60px;
}

.road {
    width: 608px;
    height: 852px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.data {
    max-width: 580px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.tables {
    width: 100%;
    display: flex;
    gap: 36px;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.numbers {
    width: 272px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 152px;
    flex-wrap: nowrap;
    overflow: auto;
}

.numbers::-webkit-scrollbar {
    box-sizing: content-box;
    width: 8px;
}

.numbers::-webkit-scrollbar-track {
    background: rgba(47, 47, 55, 1);
}

.numbers::-webkit-scrollbar-thumb {
    background-color: rgba(133, 133, 173, 1);
}

.tabs {
    margin: 20px 0 40px;
    display: flex;
}